* {
    margin: 0;
}


body {
    background-color: beige;
}

header {}

h1 {
    font-family: Franko;
    text-align: center;
    padding-bottom: 1%;
    padding-top: 1%;

}

main {
    margin-left: 25%;
    margin-right: 25%;

}

h2 {
    font-family: 'Oxanium', sans-serif;
    background-color: gray;
    margin-bottom: 2%;
    padding-bottom: 1%;
    padding-top: 1%;
    padding-left: 0.5%;

}

div {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 2%;
}

img {
    float: left; 
}

#htm {
    width: 30%;
}

#css {
    width: 22%; padding-right: 4%; padding-left: 5%;
}

p {
    text-align: justify;
}
